In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
FE_df = pd.read_csv("C://Users//gatech//Documents//Reena Gatech//MGT 6203//PhysicalAndEnvironmental.csv")
FE_df.head()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,BestSchool,Safest,LargestIncomeGrowth,LargestHomeAppreciationSince2000,MostExpensive
0,0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,...,2,2008,WD,Normal,208500,11.0,11.0,2.0,5.0,6.0
1,1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,...,5,2007,WD,Normal,181500,1.0,5.0,11.0,11.0,11.0
2,2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,...,9,2008,WD,Normal,223500,11.0,11.0,2.0,5.0,6.0
3,3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,...,2,2006,WD,Abnorml,140000,11.0,9.0,11.0,7.0,8.0
4,4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,...,12,2008,WD,Normal,250000,2.0,4.0,10.0,3.0,1.0

In [76]:
FE_df.info()
FE_df.drop(columns = ['Unnamed' ],  inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 87 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        1460 non-null   int64
 1   Id                                1460 non-null   int64
 2   MSSubClass                        1460 non-null   int64
 3   MSZoning                          1460 non-null   object
 4   LotFrontage                       1201 non-null   float64
 5   LotArea                           1460 non-null   int64
 6   Street                            1460 non-null   object
 7   Alley                             1460 non-null   object
 8   LotShape                          1460 non-null   object
 9   LandContour                       1460 non-null   object
 10  Utilities                         1460 non-null   object
 11  LotConfig                         1460 non-null   object
 12  LandSlope                         1460 non-null   object
 13  Neighborhood                      1460 non-null   object
 14  Condition1                        1460 non-null   object
 15  Condition2                        1460 non-null   object
 16  BldgType                          1460 non-null   object
 17  HouseStyle                        1460 non-null   object
 18  OverallQual                       1460 non-null   int64
 19  OverallCond                       1460 non-null   int64
 20  YearBuilt                         1460 non-null   int64
 21  YearRemodAdd                      1460 non-null   int64
 22  RoofStyle                         1460 non-null   object
 23  RoofMatl                          1460 non-null   object
 24  Exterior1st                       1460 non-null   object
 25  Exterior2nd                       1460 non-null   object
 26  MasVnrType                        1460 non-null   object
 27  MasVnrArea                        1452 non-null   float64
 28  ExterQual                         1460 non-null   object
 29  ExterCond                         1460 non-null   object
 30  Foundation                        1460 non-null   object
 31  BsmtQual                          1460 non-null   object
 32  BsmtCond                          1460 non-null   object
 33  BsmtExposure                      1460 non-null   object
 34  BsmtFinType1                      1460 non-null   object
 35  BsmtFinSF1                        1460 non-null   int64
 36  BsmtFinType2                      1460 non-null   object
 37  BsmtFinSF2                        1460 non-null   int64
 38  BsmtUnfSF                         1460 non-null   int64
 39  TotalBsmtSF                       1460 non-null   int64
 40  Heating                           1460 non-null   object
 41  HeatingQC                         1460 non-null   object
 42  CentralAir                        1460 non-null   object
 43  Electrical                        1459 non-null   object
 44  1stFlrSF                          1460 non-null   int64
 45  2ndFlrSF                          1460 non-null   int64
 46  LowQualFinSF                      1460 non-null   int64
 47  GrLivArea                         1460 non-null   int64
 48  BsmtFullBath                      1460 non-null   int64
 49  BsmtHalfBath                      1460 non-null   int64
 50  FullBath                          1460 non-null   int64
 51  HalfBath                          1460 non-null   int64
 52  BedroomAbvGr                      1460 non-null   int64
 53  KitchenAbvGr                      1460 non-null   int64
 54  KitchenQual                       1460 non-null   object
 55  TotRmsAbvGrd                      1460 non-null   int64
 56  Functional                        1460 non-null   object
 57  Fireplaces                        1460 non-null   int64
 58  FireplaceQu                       1460 non-null   object
 59  GarageType                        1460 non-null   object
 60  GarageYrBlt                       1379 non-null   float64
 61  GarageFinish                      1460 non-null   object
 62  GarageCars                        1460 non-null   int64
 63  GarageArea                        1460 non-null   int64
 64  GarageQual                        1460 non-null   object
 65  GarageCond                        1460 non-null   object
 66  PavedDrive                        1460 non-null   object
 67  WoodDeckSF                        1460 non-null   int64
 68  OpenPorchSF                       1460 non-null   int64
 69  EnclosedPorch                     1460 non-null   int64
 70  3SsnPorch                         1460 non-null   int64
 71  ScreenPorch                       1460 non-null   int64
 72  PoolArea                          1460 non-null   int64
 73  PoolQC                            1460 non-null   object
 74  Fence                             1460 non-null   object
 75  MiscFeature                       1460 non-null   object
 76  MiscVal                           1460 non-null   int64
 77  MoSold                            1460 non-null   int64
 78  YrSold                            1460 non-null   int64
 79  SaleType                          1460 non-null   object
 80  SaleCondition                     1460 non-null   object
 81  SalePrice                         1460 non-null   int64
 82  BestSchool                        1235 non-null   float64
 83  Safest                            1235 non-null   float64
 84  LargestIncomeGrowth               1235 non-null   float64
 85  LargestHomeAppreciationSince2000  1235 non-null   float64
 86  MostExpensive                     1235 non-null   float64
dtypes: float64(8), int64(36), object(43)
memory usage: 992.5+ KB

KeyError: "['Unnamed'] not found in axis"

In [77]:
# FE_df.drop(columns = ['Alley','PoolQC','Fence','MiscFeature'],  inplace=True)
FE_df.head()

missing_val_col = [i for i in FE_df.columns if FE_df[i].isnull().sum()>1 and FE_df[i].dtypes=="O"]
for i in missing_val_col:
    print('missing_val_col {}{}%'.format(i, np.round(FE_df[i].isnull().mean(),4)))

In [78]:
#replacing missing values for above mentiond variables
for i in missing_val_col:
    new_df=FE_df.copy()
    new_df[i]=new_df[i].fillna('unavailable')
    FE_df[i] =new_df[i]
    
FE_df

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,BestSchool,Safest,LargestIncomeGrowth,LargestHomeAppreciationSince2000,MostExpensive
0,0,1,60,RL,65.0,8450,Pave,unavailable,Reg,Lvl,...,2,2008,WD,Normal,208500,11.0,11.0,2.0,5.0,6.0
1,1,2,20,RL,80.0,9600,Pave,unavailable,Reg,Lvl,...,5,2007,WD,Normal,181500,1.0,5.0,11.0,11.0,11.0
2,2,3,60,RL,68.0,11250,Pave,unavailable,IR1,Lvl,...,9,2008,WD,Normal,223500,11.0,11.0,2.0,5.0,6.0
3,3,4,70,RL,60.0,9550,Pave,unavailable,IR1,Lvl,...,2,2006,WD,Abnorml,140000,11.0,9.0,11.0,7.0,8.0
4,4,5,60,RL,84.0,14260,Pave,unavailable,IR1,Lvl,...,12,2008,WD,Normal,250000,2.0,4.0,10.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,1456,60,RL,62.0,7917,Pave,unavailable,Reg,Lvl,...,8,2007,WD,Normal,175000,4.0,7.0,11.0,9.0,3.0
1456,1456,1457,20,RL,85.0,13175,Pave,unavailable,Reg,Lvl,...,2,2010,WD,Normal,210000,7.0,11.0,5.0,11.0,11.0
1457,1457,1458,70,RL,66.0,9042,Pave,unavailable,Reg,Lvl,...,5,2010,WD,Normal,266500,11.0,9.0,11.0,7.0,8.0
1458,1458,1459,20,RL,68.0,9717,Pave,unavailable,Reg,Lvl,...,4,2010,WD,Normal,142125,NaN,NaN,NaN,NaN,NaN
1459,1459,1460,20,RL,75.0,9937,Pave,unavailable,Reg,Lvl,...,6,2008,WD,Normal,147500,11.0,11.0,3.0,11.0,7.0

In [80]:
missing_val_after = [i for i in FE_df.columns if FE_df[i].isnull().sum()>1 and FE_df[i].dtypes=="O"]
print(missing_val_after)

[]

In [45]:
#Cheking missing value for categorical variable after replacing the values with unavailable
for i in missing_val_col:
    print('missing_val_col {}{}%'.format(i, np.round(FE_df[i].isnull().mean(),4)))

missing_val_col Alley0.0%
missing_val_col MasVnrType0.0%
missing_val_col BsmtQual0.0%
missing_val_col BsmtCond0.0%
missing_val_col BsmtExposure0.0%
missing_val_col BsmtFinType10.0%
missing_val_col BsmtFinType20.0%
missing_val_col FireplaceQu0.0%
missing_val_col GarageType0.0%
missing_val_col GarageFinish0.0%
missing_val_col GarageQual0.0%
missing_val_col GarageCond0.0%
missing_val_col PoolQC0.0%
missing_val_col Fence0.0%
missing_val_col MiscFeature0.0%

In [82]:
#Missing Values in numeric columns


missing_val_num_col = [i for i in FE_df.columns if FE_df[i].isnull().sum()>1 and FE_df[i].dtypes!="O"]
for i in missing_val_num_col:
    print('missing_val_num_col {}{}%'.format(i, np.round(FE_df[i].isnull().mean(),4)))

missing_val_num_col LotFrontage0.1774%
missing_val_num_col MasVnrArea0.0055%
missing_val_num_col GarageYrBlt0.0555%
missing_val_num_col BestSchool0.1541%
missing_val_num_col Safest0.1541%
missing_val_num_col LargestIncomeGrowth0.1541%
missing_val_num_col LargestHomeAppreciationSince20000.1541%
missing_val_num_col MostExpensive0.1541%

As seen in pandas profiling report, the distribution for LotFrontage and MasVnrArea is skewed, we cannot fill the missing values with mean and hence we will use median

In [83]:
import math
for i in missing_val_num_col:
    median_val = FE_df[i].median()
#     median_val = ceil(median_val)
    #print(median_val)
    FE_df[i].fillna(median_val, inplace=True)

In [84]:
#checking missing numerical val cols
for i in missing_val_num_col:
    print('missing_val_num_col {}{}%'.format(i, np.round(FE_df[i].isnull().mean(),4)))

missing_val_num_col LotFrontage0.0%
missing_val_num_col MasVnrArea0.0%
missing_val_num_col GarageYrBlt0.0%
missing_val_num_col BestSchool0.0%
missing_val_num_col Safest0.0%
missing_val_num_col LargestIncomeGrowth0.0%
missing_val_num_col LargestHomeAppreciationSince20000.0%
missing_val_num_col MostExpensive0.0%

We noticed a skewed distribution in the pandas profiling report for LotFrontage, LotArea, !stFlrSF, GRLivArea and SalePrice with outliers , so we are going to perform log transformation or these features

In [85]:
# FE_df[ 'LotArea'].astype(int) 
# FE_df[LotFrontage] = FE_df[ 'LotFrontage'].astype(int)
import numpy as np
skewed_num_features = ['LotFrontage','LotArea','1stFlrSF', 'GrLivArea', 'SalePrice']
for i in skewed_num_features:
#     FE_df[i] = FE_df[i]
    FE_df[i]= np.log(FE_df[i])

In [86]:
FE_df.head()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,BestSchool,Safest,LargestIncomeGrowth,LargestHomeAppreciationSince2000,MostExpensive
0,0,1,60,RL,4.174387,9.041922,Pave,unavailable,Reg,Lvl,...,2,2008,WD,Normal,12.247694,11.0,11.0,2.0,5.0,6.0
1,1,2,20,RL,4.382027,9.169518,Pave,unavailable,Reg,Lvl,...,5,2007,WD,Normal,12.109011,1.0,5.0,11.0,11.0,11.0
2,2,3,60,RL,4.219508,9.328123,Pave,unavailable,IR1,Lvl,...,9,2008,WD,Normal,12.317167,11.0,11.0,2.0,5.0,6.0
3,3,4,70,RL,4.094345,9.164296,Pave,unavailable,IR1,Lvl,...,2,2006,WD,Abnorml,11.849398,11.0,9.0,11.0,7.0,8.0
4,4,5,60,RL,4.430817,9.565214,Pave,unavailable,IR1,Lvl,...,12,2008,WD,Normal,12.429216,2.0,4.0,10.0,3.0,1.0

In [87]:
Categorical_fields = [i for i in FE_df.columns if FE_df[i].dtypes=='O']
for j in Categorical_fields:
    
    print('The number of categories {}  {}'.format(j, len(FE_df[j].unique())))

The number of categories MSZoning  5
The number of categories Street  2
The number of categories Alley  3
The number of categories LotShape  4
The number of categories LandContour  4
The number of categories Utilities  2
The number of categories LotConfig  5
The number of categories LandSlope  3
The number of categories Neighborhood  25
The number of categories Condition1  9
The number of categories Condition2  8
The number of categories BldgType  5
The number of categories HouseStyle  8
The number of categories RoofStyle  6
The number of categories RoofMatl  8
The number of categories Exterior1st  15
The number of categories Exterior2nd  16
The number of categories MasVnrType  5
The number of categories ExterQual  4
The number of categories ExterCond  5
The number of categories Foundation  6
The number of categories BsmtQual  5
The number of categories BsmtCond  5
The number of categories BsmtExposure  5
The number of categories BsmtFinType1  7
The number of categories BsmtFinType2  7
The number of categories Heating  6
The number of categories HeatingQC  5
The number of categories CentralAir  2
The number of categories Electrical  6
The number of categories KitchenQual  4
The number of categories Functional  7
The number of categories FireplaceQu  6
The number of categories GarageType  7
The number of categories GarageFinish  4
The number of categories GarageQual  6
The number of categories GarageCond  6
The number of categories PavedDrive  3
The number of categories PoolQC  4
The number of categories Fence  5
The number of categories MiscFeature  5
The number of categories SaleType  9
The number of categories SaleCondition  6

Scaling

In [88]:
# FE_df.drop(columns = ['Alley','PoolQC','Fence','MiscFeature','Id'],  inplace=True)
FE_df.head()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,BestSchool,Safest,LargestIncomeGrowth,LargestHomeAppreciationSince2000,MostExpensive
0,0,1,60,RL,4.174387,9.041922,Pave,unavailable,Reg,Lvl,...,2,2008,WD,Normal,12.247694,11.0,11.0,2.0,5.0,6.0
1,1,2,20,RL,4.382027,9.169518,Pave,unavailable,Reg,Lvl,...,5,2007,WD,Normal,12.109011,1.0,5.0,11.0,11.0,11.0
2,2,3,60,RL,4.219508,9.328123,Pave,unavailable,IR1,Lvl,...,9,2008,WD,Normal,12.317167,11.0,11.0,2.0,5.0,6.0
3,3,4,70,RL,4.094345,9.164296,Pave,unavailable,IR1,Lvl,...,2,2006,WD,Abnorml,11.849398,11.0,9.0,11.0,7.0,8.0
4,4,5,60,RL,4.430817,9.565214,Pave,unavailable,IR1,Lvl,...,12,2008,WD,Normal,12.429216,2.0,4.0,10.0,3.0,1.0

In [90]:
for i in Categorical_fields:
    FE_df[i]=FE_df[i].astype('category')
    FE_df.dtypes
    FE_df[i]=FE_df[i].cat.codes

In [95]:
Scale_feat = [i for i in FE_df.columns if  i not in ['Id','SalePrice']]
print(Scale_feat)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(FE_df[Scale_feat])

['Unnamed: 0', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'BestSchool', 'Safest', 'LargestIncomeGrowth', 'LargestHomeAppreciationSince2000', 'MostExpensive']

MinMaxScaler()

In [92]:
FE_df.head()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,BestSchool,Safest,LargestIncomeGrowth,LargestHomeAppreciationSince2000,MostExpensive
0,0,1,60,3,4.174387,9.041922,1,2,3,3,...,2,2008,8,4,12.247694,11.0,11.0,2.0,5.0,6.0
1,1,2,20,3,4.382027,9.169518,1,2,3,3,...,5,2007,8,4,12.109011,1.0,5.0,11.0,11.0,11.0
2,2,3,60,3,4.219508,9.328123,1,2,0,3,...,9,2008,8,4,12.317167,11.0,11.0,2.0,5.0,6.0
3,3,4,70,3,4.094345,9.164296,1,2,0,3,...,2,2006,8,0,11.849398,11.0,9.0,11.0,7.0,8.0
4,4,5,60,3,4.430817,9.565214,1,2,0,3,...,12,2008,8,4,12.429216,2.0,4.0,10.0,3.0,1.0

In [94]:
FE_df.to_csv("train_updated.csv", index=False)